// Base styles for a Bespoke presentation

*, ::before, ::after
  box-sizing inherit

html
  box-sizing border-box
  
body {
  font: 20px Helvetica, Arial, sans-serif
  background #00FFFF

}


h3
  color white

.left
  text-align justify
  width 100%
  float center
  margin-left 10px


.potrait
  width 250px
  height 180px
  margin 5px
  float left

.potrait2
  width 250px
  height 180px
  margin 5px
  float right

.andre
  img{
    width 180px
    height 180px
    margin 5px
  }
  

.bespoke-parent, .bespoke-scale-parent
  position absolute
  top 0
  right 0
  bottom 0
  left 0

.bespoke-scale-parent, .bespoke-slide
  pointer-events none

.bespoke-slide
  // NOTE force opacity to start at 0 to avoid transition on load when using 
  color black
  background white
  width 50%
  margin-left -(@width / 2)
  height 100%
  margin-top -(@height / 4.15)
  display block
  position relative


.bespoke-active
  pointer-events auto
  opacity 1
  // NOTE Webkit requires z-index to be 1 for elements to receive focus (may no longer apply)
  z-index 1

.bespoke-inactive
  transition-delay 0

.emphatic
  background-color #222

.emphatic-text
  color #fff

aside[role=note], aside[role=notes]
  display none
