doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mobile Legend

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck
  
      section
        h1 Mobile Legend
        p Anggota Kelompok
        p Michel Wijaya (161110510)
        p Nico Pratama Putra (161110102)
        p Stephen Leo (161110951)
      
      section
        h2.class Fighter
        ul.build.build-items
        li Aldous
        img.potrait(src='images/aldous.jpg')
        p Legenda dari Land of Dawn mengatakan bahwa Minoan Kingdom yang berada di Western Desert memiliki sebuah labirin misterius. Di dalam labirin tersebut, terdapat sebuah patung Minotaur raksasa, dimana para penduduk menganggapnya sebagai tempat pemujaan bagi Minoan Kingdom 

      

    script(src='build/build.js')
