doctype html
html 
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tebak-Tebakan
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    li.dropdown.btn.btn-default
        span.glyphicon.glyphicon-th-list
            |  Select 
        span.caret
        ul.dropdown-menu.dropdown-toggle(data-toggle="dropdown")
            li
                a(href="#") action
            li 
                a(href="#") another action
    article.deck
        section
            h1 Tebak-Tebakan
            p Anggota Kelompok
            p Michel Wijaya (161110510)
            p Nico Pratama Putra (161110102)
            p Stephen Leo (161110951)
        section
            p Soal 1
            p.left Saya adalah seorang panglima perang dan tokoh yang sangat berpengaruh pada zaman kerajaan Majapahit
                img.potrait(src='images/gajah.jpg')
                img.potrait2(src='images/mada.jpg')
        section
            p Soal 2
            p.left Saya adalah seorang panglima perang dan tokoh yang sangat berpengaruh pada zaman kerajaan Majapahit
            div.andre
                img(src='images/Ant.jpg')
                img(src='images/dry.jpg')
                img(src='images/tahu.jpg')
                img(src='images/Lan.jpg')
        section
            p Soal 3
            p.left Saya adalah seorang dosen mikroskil, saya murah senyum, dan saya cukup ramah.
            div.andre
                img(src='images/gitar.jpg')
                img(src='images/rio.jpg')
                img(src='images/Mega Cloud.jpg')
                img(src='images/one.jpg')
        section
            p Soal 4
            p.left Cobalah perhatikan video berikut secara teliti. Soal kali ini akan menguji kekuatan pengamatan dan ingatan Anda.
            div
                iframe(width="350", height="220", src="https://www.youtube.com/embed/A-ingqFJf8g", frameborder="0", allowfullscreen, data-volume="0")


    
        

    script(src='build/build.js')
