doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Mobile Legend

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck
  
      section.satu
        h1 Mobile Legend
        p Anggota Kelompok
        p Michel Wijaya (161110510)
        p Nico Pratama Putra (161110102)
        p Stephen Leo (161110951)
      
      section
        h2 Aldous
        img.potrait(src='images/aldous.jpg')
        p.left Suatu hari, Kerajaan Minoan mendapatkan hukuman langit dari seorang dewa. Kekuatan cahaya sekalgus kegelapan langsung menghancurkan seluruh kerajaan sampai tidak ada satu orang pun yang bisa lari, termasuk Aldous. Kedua kekuatan tersebut lalu merasuk ke dalam tubuhnya sampai membuat Aldous merasa ia akan segera mati. Namun, sebuah keajaiban terjadi, kedua kekuatan di tubuhnya ini bertabrakkan dan mengubah tubuh Aldous untuk selamanya. Seluruh kulitnya menjadi bebatuan gelap yang terlihat begitu kokoh serta tangan kanannya berubah menjadi begitu besar dan menyeramkan. Ketika Aldous mendapatkan kesadarannya kembali, ia melihat seluruh warga kerajaan lenyap dan labirin kini tersegel oleh kekuatan misterius.
        h3 Videos
        iframe(width="640", height="360", src="https://www.youtube.com/embed/nrUbON4Yces", frameborder="0", allowfullscreen, data-volume="0")
        

    script(src='build/build.js')
